<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conversor de Valores</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="container">

    <form action="/result" method="post" onsubmit="return validateForm()">
        <div>
            <h1>Conversor de Valores</h1>
        </div>
        <div>
            <label for="conversionType">Convertir a:</label>
            <select id="conversionType" name="conversionType" onchange="validateInput()">
                <option value="Decimal a Binario">Decimal a Binario</option>
                <option value="Decimal a Hexadecimal">Decimal a Hexadecimal</option>
                <option value="Decimal a IP">Decimal a IP</option>
                <option value="Binario a Decimal">Binario a Decimal</option>
                <option value="Binario a Hexadecimal">Binario a Hexadecimal</option>
                <option value="Hexadecimal a Decimal">Hexadecimal a Decimal</option>
                <option value="Hexadecimal a Binario">Hexadecimal a Binario</option>
                <option value="IP a Binario">IP a Binario</option>
                <option value="IP a Decimal">IP a Decimal</option>
                <option value="IP a Hexadecimal">IP a Hexadecimal</option>
            </select>
        </div>
        <div>
            <label for="inputValue">Valor:</label>
            <input type="text" id="inputValue" name="inputValue" oninput="validateInput()">
            <small id="error-message" style="color: red;"></small>
        </div>
        <div>
            <button type="submit">Convertir</button>
        </div>
    </form>
</div>

<script th:src="@{/conversor.js}"></script>

</body>
</html>
